IDMB movie review dataset

# Import libraries

In [37]:
import glob
import pandas as pd
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [2]:
def make_data_frame(files, sentiment):
    df = pd.DataFrame(columns=['review', 'sentiment'])
    for file in positive_review_train_files:
        with open(file,'r', encoding='utf-8') as infile:
            txt = infile.read()
            df = df.append({'review': txt, 'sentiment': sentiment }, ignore_index=True)
    return df

Taking review training files

In [3]:
positive_review_train_files=glob.glob("/Users/luo/IDMB/aclImdb/train/pos/*.txt")
len(positive_review_train_files)

12500

In [4]:
df_pos_train = make_data_frame(positive_review_train_files, 1)

In [5]:
df_pos_train.head()

                                              review sentiment
0  For a movie that gets no respect there sure ar...         1
1  Bizarre horror movie filled with famous faces ...         1
2  A solid, if unremarkable film. Matthau, as Ein...         1
3  It's a strange feeling to sit alone in a theat...         1
4  You probably all already know this by now, but...         1

In [6]:
negative_review_train_files =glob.glob("/Users/luo/IDMB/aclImdb/train/neg/*.txt")
len(negative_review_train_files)

12500

In [7]:
df_neg_train = make_data_frame(negative_review_train_files, 0)

In [8]:
df_neg_train.head()

                                              review sentiment
0  For a movie that gets no respect there sure ar...         0
1  Bizarre horror movie filled with famous faces ...         0
2  A solid, if unremarkable film. Matthau, as Ein...         0
3  It's a strange feeling to sit alone in a theat...         0
4  You probably all already know this by now, but...         0

In [9]:
df_train = df_pos_train.append(df_neg_train, ignore_index=True)

In [10]:
df_train.head()

                                              review sentiment
0  For a movie that gets no respect there sure ar...         1
1  Bizarre horror movie filled with famous faces ...         1
2  A solid, if unremarkable film. Matthau, as Ein...         1
3  It's a strange feeling to sit alone in a theat...         1
4  You probably all already know this by now, but...         1

In [11]:
df_train.tail()

                                                  review sentiment
24995  About a year ago I finally gave up on American...         0
24996  When I saw the elaborate DVD box for this and ...         0
24997  Last November, I had a chance to see this film...         0
24998  Great movie -I loved it. Great editing and use...         0
24999  Enchanted April is a tone poem, an impressioni...         0

Taking review testing files

In [12]:
positive_review_test_files=glob.glob("/Users/luo/IDMB/aclImdb/test/pos/*.txt")
len(positive_review_test_files)

12500

In [13]:
df_pos_test = make_data_frame(positive_review_test_files, 1)

In [14]:
df_pos_test.head()

                                              review sentiment
0  For a movie that gets no respect there sure ar...         1
1  Bizarre horror movie filled with famous faces ...         1
2  A solid, if unremarkable film. Matthau, as Ein...         1
3  It's a strange feeling to sit alone in a theat...         1
4  You probably all already know this by now, but...         1

In [15]:
negative_review_test_files=glob.glob("/Users/luo/IDMB/aclImdb/test/neg/*.txt")
len(negative_review_test_files)

12500

In [16]:
df_neg_test = make_data_frame(negative_review_test_files, 0)

In [17]:
df_neg_test.head()

                                              review sentiment
0  For a movie that gets no respect there sure ar...         0
1  Bizarre horror movie filled with famous faces ...         0
2  A solid, if unremarkable film. Matthau, as Ein...         0
3  It's a strange feeling to sit alone in a theat...         0
4  You probably all already know this by now, but...         0

In [18]:
df_test = df_pos_test.append(df_neg_test, ignore_index=True)

# Preprocessing

In [43]:
reviews = df_train.append(df_test, ignore_index=True)


len(reviews)

50000

In [23]:
reviews_list = reviews['review'].values.tolist()

In [32]:
stop_words = set(stopwords.words('english'))  # take stopwors from nltk stopwords

In [33]:
clean_lines = []

In [40]:
for line in reviews_list:
    token = word_tokenize(line)    #tokenize the line 
    lower_token = [w.lower() for w in token]  #converting lower case
    table =str.maketrans('', '', string.punctuation)  
    stripped = [w.translate(table) for w in lower_token]  #removeing lower case
    words = [word for  word in stripped if word.isalpha()]  #removing numbers 
    
    words = [w for w in words if not w in stop_words] #removing stopwords
    clean_lines.append(words)

In [41]:
len(clean_lines)

50000

# Train word2vec Embedding

In [51]:
import gensim
from gensim.models import Word2Vec

In [48]:
EMBADING_DIM = 100

In [53]:
model = Word2Vec(sentences=clean_lines,  size = EMBADING_DIM, workers = 6, window=5, min_count=1)

In [55]:
word = list(model.wv.vocab)